:root {
  --bg-color: #f0f0ee;
}

body { font-family: “Lucida Grande”; }

html {
  background-color: var(--bg-color);
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.45;
  font-size: 1.25em;
}
  
p { text-align: justify; }

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, verdana, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 218%;
}

h2 {
  font-size: 164%;
}

h3 {
  font-size: 145%;
}

h4 {
  font-size: 118%;
}


a {
  color: inherit;
  position: relative;
  text-decoration: none;
  --shadow-color: var(--bg-color);
  text-shadow: 
    -2px 0 var(--shadow-color), 2px 0 var(--shadow-color);
}

a:after {
  content: '';
  position: absolute;
  bottom: .1ch;
  left: 0ch;
  height: .2ch;
  width: 100%;
  background: #bbb;
  z-index: -1;
}
